{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome <span class="text-capitalize">{{user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% for o in op reversed %}
    <hr>
   <div class="row shadow-sm mb-3">
    <div class="col-sm-2">
        <img src="{{o.product.product_image.url}}" alt="" class="img-fluid" height"120" width="120">
    </div>
    <div class="col-sm-7">
        <p>Product: {{o.product.title}}</p>
        <p>Quantity: {{o.quantity}}</p>
        <p>Price: {{o.total_cost}}</p>
    </div>
    
    <div class="col-sm-3 fw-bold">
        <p>Order Status: {{o.status}}</p>
        {% if o.status == "Accepted" %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 20%" area-valuenow="20" area-valuemin"0" area-valuemax="100"></div>
        </div>
        {% endif %}

        {% if o.status == "Packed" %}
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 40%" area-valuenow="40" area-valuemin"0" area-valuemax="100"></div>
        </div>
        {% endif %}
        
        {% if o.status == "On The Way" %}
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" area-valuenow="70" area-valuemin"0" area-valuemax="100"></div>  
        </div>
        {% endif %}

        {% if o.status == "Delivered" %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" area-valuenow="100" area-valuemin"0" area-valuemax="100"></div>  
        </div>
        {% endif %}
    </div>
        {% if o.status != "Delivered" %}
        <a href="{% url 'ordercancel' o.id %}" class="btn btn-sm btn-secondary mr-3 ">Cancel The Order </a>
        {% endif %}
   </div>
   {% endfor %}
  </div>
 </div>
</div>
{% endblock main-content %}