{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change Successfull{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <h1 class="alert alert-danger my-3 text-center">Password Change Successfuly</h1>
  </div>
 </div>
</div>
{% endblock main-content %}